<div class="main-content">
  <div class="container-fluid">
      <div class="row">          
          <div class="col-md-12">
            <div class="form-group pull-right">
                <mat-form-field class="mat-input-custom">
                    <input matInput placeholder="Buscar Campos..." [(ngModel)]="searchTable">
                  </mat-form-field>
            </div>
              <div class="card card-plain">
                  <div class="card-header card-header-success">
                      <h4 class="card-title mt-0">Campos</h4>
                      <p class="card-category"> Datos de todos los campos registrados</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Opciones
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of farms | filter:searchTable"  style="cursor: pointer;">
                                      <td>
                                          {{data.id}}
                                      </td>
                                      <td>
                                          {{data.name}}
                                      </td>
                                      <td  style="cursor: pointer;">
                                          <i class="material-icons" [routerLink]="['/farmmap',data.id]">visibility</i>
                                          <i class="material-icons" (click)="activeCloning(data.id)">{{data.active_cloning==1?'assignment_turned_in':'assignment_late'}}</i>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>

