<div class="main-content">
  <div class="container-fluid">
      <div class="row">          
          <div class="col-md-12">
          	<div>
          		<div class="d-inline-block">          		
                    <button mat-raised-button type="submit" class="btn-green pull-right" [routerLink]="['/user-form']" class="btn-green">Registrar</button>
	          	</div>
	            <div class="form-group pull-right">            	
	                <mat-form-field class="mat-input-custom">
	                  	<input matInput placeholder="Buscar Usuario..." [(ngModel)]="searchTable">
	                </mat-form-field>
	            </div>	
          	</div>          	
            <div class="card card-plain">
                  <div class="card-header card-header-success">
                      <h4 class="card-title mt-0">Usuarios</h4>
                      <p class="card-category"> Datos de todos los usuarios registrados</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Apellido
                                  </th>
                                  <th>
                                      Rol
                                  </th>
                                  <th>
                                      Opciones
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let data of users | filter:searchTable" style="cursor: pointer;">
                                      <td>
                                          {{data.name}}
                                      </td>
                                      <td>
                                          {{data.last_name}}
                                      </td>
                                      <td>
                                          {{data.role.description}}
                                      </td>
                                      <td  style="cursor: pointer;">
                                          <i class="material-icons" [routerLink]="['/user-form',data.id]">edit</i>
                                          <i class="material-icons" (click)="delete(data.id)">delete</i>
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
            </div>
          </div>
      </div>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>

