.mat-input-element.mat-form-field-autofill-control {
    color: #000000 !important;
  }

  .btn-green {
    background-color: #6fb060;
    color: white;
    @media screen and (max-width: 995px) {
      margin-top: 15px;
    }
  }