<div class="footer " style="margin-top: 15px;">
    <div class="container-fluid">
        <div class="links-footer-center">
            <nav >
                <ul class="sub-footer">
                    <li>
                        <a class="text-footer" href="tel:+56229297289" >
                            <img src="assets/icons/Phone.svg"> 
                            <span>+(56) 2 2929 7289</span>
                        </a>
                    </li>
                    <li>
                        <a class="text-footer" href="mailto:soporte@cdtec.cl">
                            <img src="assets/icons/Mail.svg">
                            <span> soporte@cdtec.cl</span>
                        </a>
                    </li>
                    <li>
                        <a class="text-footer">
                            <img src="assets/icons/Pin.svg">
                            <span>Las Cerezas 1046, Ñuñoa, RM, Santiago.</span> 
                        </a>
                    </li>
                </ul>
                <ul class="sub-footer footer-subline"> 
                    <li>
                        <a href="/">
                            <b style="font-weight: 600;"> Políticas de Privacidad </b>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                           <b style="font-weight: 600;"> Términos y Condiciones </b> 
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a class="copyright-text" href="/">
                        © Copyright {{test | date: 'yyyy'}}, Consultora Diestre Tecnología.
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            Desarrollado por
            <a href="http://www.cdtec.cl/" target="_blank"><img style="width: 70px; height: 15px" src="assets/icons/LogoCDTEC-Footer.png"
                    alt=""></a>
        </div>
    </div>
</footer>