<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe [src]="url | safePipe" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div #modalMap style="width:100%;height:100%"></div>
  </div>
</ng-template>
<ng-template #message let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Mensaje</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div class="modal-body">
          <textarea placeholder="Ingrese un mensaje" cols="30" rows="10"></textarea>
          <button style="font-size: 15px;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> Enviar </button>
        </div>
</ng-template>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="row-title">Dashboard</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="farm" class="col-sm-2 col-form-label">Campo</label>
          <div class="col-sm-10">
            <mat-form-field class="mat-select-custom" floatLabel="never" id="farm">
              <mat-label>{{farm?farm.name:'Campo'}}</mat-label>
              <mat-select>
                <mat-option *ngFor="let farm of farms" (click)="onSelect('farm',farm.id)">{{farm.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end labels-row">
      <!-- <div class="col-md-4">
        <div>
          <span class="date-title">{{today | date:'MMMM dd/MM/yyyy'}} </span>
        </div>
      </div> -->
      <div class="col-md-8">
        <span *ngIf="farm" class="title-farm">{{farm.name}}</span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </div>
  <div class="container-fluid barra">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="buttons-farm">
          <div (click)="openDialog()" class="btn btns-message btn-block">
            <span><img src="/assets/icons/message-icon.png"></span>
            <span>Mensaje</span>
          </div>
        </div>
        <div class="buttons-farm">
            <div class="btn btns-alerts btn-block">
              <span><img src="/assets/icons/alert-icon.png"></span>
              <span>Alertas</span>
            </div>
        </div> 
        <div *ngIf="measurements" class="container-fluid card-weather">
          <div class="row ">
            <h4 class="row-subtitle">Clima</h4>
          </div>
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr *ngFor="let data of measurements">
                    <td class="name-weather">
                      {{data.name}}
                    </td>
                    <td class="icon-weather">
                      <img *ngIf="data.name =='Station Temperature' || data.name=='Temperatura'"
                                src="assets/icons/Temperatura.svg">
                      <img *ngIf="data.name =='Rafaga de viento' || data.name=='Dir. Viento'"
                                src="assets/icons/Direccion-del-Viento.svg">
                      <img *ngIf="data.name =='Wind Direction' || data.name=='Vel. Viento'" src="assets/icons/Viento.svg">
                      <img *ngIf="data.name =='Wind Speed (period)'"
                                src="https://www.dropcontrol.com/img/widgets/ico_velocidad.gif">
                      <img *ngIf="data.name =='Station Relative Humidity' || data.name=='Humedad'"
                                src="assets/icons/Gota.svg">
                      <img *ngIf="data.name =='Solar radiation ' || data.name=='Rad. Solar'" src="assets/icons/Sol.svg">
                      <img *ngIf="data.name =='Horas Frío'"
                                src=" https://www.dropcontrol.com/img/widgets/ico_pluviometria.gif?uv=1">
                      <img *ngIf="data.name =='Porciones de Frío'"
                                src=" https://www.dropcontrol.com/img/widgets/ico_pluviometria.gif?uv=1">
                      <img *ngIf="data.name =='Pluviometro'" src="assets/icons/Lluvia.svg">
                    </td>
                    <td>
                      {{data.lastData}} {{data.unit}}
                    </td> 
          
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="climaLoading" class="container-fluid">
          <div class="row " style="margin-top: 35px;">
            <h4 class="row-subtitle-card">Pronóstico</h4>
          </div>
          <div class="card-body card-pronostic">
            <table class="table-title">
              <thead>
                <th> <img src="{{climaToday.weatherIconUrl[0].value}} "> </th>
                <th> {{climaToday.temp_C}}°C </th>
                <th>
                  <span>
                    {{today | date:'dd/MM/yyyy'}}
                  </span>
                  <div>
                    {{farm.name}}
                  </div>
                </th>
              </thead>
            </table>
            <table class="table-body">
              <thead>
              </thead>
              <tbody>
                <tr>
                  <td> </td>
                  <td *ngFor="let day of climaDay"> {{translateDate(day | date:'EE ')}} </td>
                </tr>
                <tr>
                  <td> </td>
                  <td *ngFor="let icon of climaIcon"><img style="width: 22px; height:22px" src="{{icon}}"></td>
                </tr>
                <tr>
                  <td>Máx: </td>
                  <td *ngFor="let max of climaMax">{{max}}°C </td>
                </tr>
                <tr>
                  <td>Min: </td>
                  <td *ngFor="let min of climaMin">{{min}}°C</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <!-- <div #mapRef id="map-container" style="width:100%;height:100%"></div> -->
        
        <div #mapRef id="map-container" class="map"></div>
        <!-- <iframe [src]="url | safePipe" frameborder="0" allowFullScreen="true"></iframe>       -->
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <table class="table-legent">
                  <thead>
                    <th *ngIf="statusRegando">
                      <div class="square-temp" style=" background-color: #419FD5;"></div>
                      <span style="color: black; font-size: 10px; margin-left: 10px;">Regando</span>
                    </th>
                    <th>
                      <div class="square-temp" style=" background-color: #49AA4F;"></div>
                      <span style="color: black; font-size: 10px; margin-left: 10px;">Ok</span>
                    </th>
                    <th *ngIf="status">
                      <div class="square-temp" style=" background-color: rgb(233, 58, 189);"></div>
                      <span style="color: black; font-size: 10px; margin-left: 10px;">Estresado</span>
                    </th>
                    <th *ngIf="status">
                      <div class="square-temp" style="background-color: red;"></div>
                      <span style="color: black; font-size: 10px; margin-left: 10px;">Seco</span>
                    </th>
                  </thead>
                </table>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6 irrimax-label">
            <h6 style="margin-top: 5%;">Ver analisis de suelo en</h6>
            <div (click)="open(content, 'xl')" class="btn btns-irrimax btn-radius">
                <span>Irrimax<b>LIVE</b></span>
                <span><img src="/assets/icons/IrrimaxLive.png"></span>
            </div>
          </div> -->
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div #mapRef id="map-container" style="width:100%;height:50%">
          </div>
        </div>
      </div>
    </div>
  </div> -->
  
</div>
