<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe [src]="url | safePipe" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div #modalMap style="width:100%;height:100%"></div>
  </div>
</ng-template>
<ng-template #message let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Mensaje</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div class="modal-body">
          <textarea placeholder="Ingrese un mensaje" cols="30" rows="10"></textarea>
          <button style="font-size: 15px;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> Enviar </button>
        </div>
</ng-template>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="row-title">Inicio</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label" >Campo</label>
          <div class="col-sm-10">
            <label for="" class="col-sm-2 col-form-label" *ngIf="user && user.role.id==1">{{farm?farm.name:'Campo Seleccionado'}}</label>
            <mat-form-field class="mat-select-custom" floatLabel="never" id="farm" *ngIf="user.role.id!=1">
              <mat-label>{{farm?farm.name:'Campo'}}</mat-label>
              <mat-select>
                <mat-option *ngFor="let farm of farms" (click)="onSelect('farm',farm.id)">{{farm.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="zone" class="col-sm-2 col-form-label">Sector</label>
          <div class="col-sm-10">
            <mat-form-field class="mat-select-custom" floatLabel="never">
              <mat-label>{{zone?zone.name:'Sector'}}</mat-label>
              <mat-select>
                <mat-option *ngFor="let zone of weatherZones" (click)="onSelect('zone',zone.id)">{{zone.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div> 
    </div>
    <div class="row justify-content-end labels-row">
      <div class="col-md-8">
        <span *ngIf="farm" class="title-farm">{{farm.name}}</span>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </div>
  <div class="container-fluid barra">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="buttons-farm">
          <div (click)="openDialog()" class="btn btns-message btn-block">
            <span><img src="/assets/icons/message-icon.png"></span>
            <span>Mensaje</span>
          </div>
        </div>
        <div class="buttons-farm">
            <div class="btn btns-alerts btn-block">
              <span><img src="/assets/icons/alert-icon.png"></span>
              <span>Alertas</span>
            </div>
        </div> 
        <div *ngIf="measurements.length>0" class="container-fluid card-weather">
          <div class="card card-bg-none">
            <div class="card-header py-0">
              <h4 class="row-subtitle-card">Clima</h4>
            </div>
            <div class="card-body ">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let data of measurements">
                    <td class="name-weather">
                      {{translateMeasurement(data.name)}}
                    </td>
                    <td class="icon-weather">
                      <img *ngIf="translateMeasurement(data.name) =='Station Temperature' || translateMeasurement(data.name)=='Temperatura'"
                                src="assets/icons/Temperatura.svg">
                      <img *ngIf="translateMeasurement(data.name) =='Rafaga de viento' || translateMeasurement(data.name)=='Dir. Viento'"
                                src="assets/icons/Direccion-del-Viento.svg">
                      <img *ngIf="translateMeasurement(data.name) =='Wind Direction' || translateMeasurement(data.name)=='Vel. Viento'" src="assets/icons/Viento.svg">
                      <img *ngIf="translateMeasurement(data.name) =='Wind Speed (period)'"
                                src="https://www.dropcontrol.com/img/widgets/ico_velocidad.gif">
                      <img *ngIf="translateMeasurement(data.name) =='Station Relative Humidity' || translateMeasurement(data.name)=='Humedad'"
                                src="assets/icons/Gota.svg">
                      <img *ngIf="translateMeasurement(data.name) =='Solar radiation ' || translateMeasurement(data.name)=='Rad. Solar'" src="assets/icons/Sol.svg">
                      <img *ngIf="translateMeasurement(data.name) =='Horas Frío'"
                                src=" https://www.dropcontrol.com/img/widgets/ico_pluviometria.gif?uv=1">
                      <img *ngIf="translateMeasurement(data.name) =='Porciones de Frío'"
                                src=" https://www.dropcontrol.com/img/widgets/ico_pluviometria.gif?uv=1">
                      <img *ngIf="translateMeasurement(data.name) =='Pluviometro'" src="assets/icons/Lluvia.svg">
                    </td>
                    <td style="display:inline-flex;">
                      {{decimalProcessor(data.lastData)}} {{data.unit}} &nbsp;  
                      <div *ngIf="translateMeasurement(data.name) =='Rafaga de viento' || translateMeasurement(data.name)=='Dir. Viento'"> {{getCardinalPointOfTheValue(data.lastData)}}</div>
                    </td> 
          
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="climaLoading" class="container-fluid">
          <div class="card card-bg-none">
            <div class="card-header py-0">
              <h4 class="row-subtitle-card">Pronóstico</h4>
            </div>
            <div class="card-body card-pronostic">
              <table class="table-title">
                <thead>
                  <th> <img src="{{climaToday!=undefined?climaToday.weatherIconUrl[0].value:'https://pngimage.net/wp-content/uploads/2018/06/imagen-no-disponible-png-4.png'}} "> </th>
                  <th *ngIf="climaToday!=undefined"> {{climaToday.temp_C}}°C </th>
                  <th *ngIf="climaToday==undefined" style="font-size: 10px;"> Información no disponible </th>
                  <th>
                    <span>
                      {{today | date:'dd/MM/yyyy'}}
                    </span>
                    <div>
                      {{farm.name}}
                    </div>
                  </th>
                </thead>
              </table>
              <table class="table-body">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td> </td>
                    <td *ngFor="let day of climaDay"> {{translateDate(day | date:'EE ')}} </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td *ngFor="let icon of climaIcon"><img style="width: 22px; height:22px" src="{{icon}}"></td>
                  </tr>
                  <tr>
                    <td>Máx: </td>
                    <td *ngFor="let max of climaMax">{{max}}°C </td>
                  </tr>
                  <tr>
                    <td>Min: </td>
                    <td *ngFor="let min of climaMin">{{min}}°C</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
        <div *ngIf="climaLoading" class="container-fluid">
          <div class="card card-bg-none">
            <div class="card-header py-0">
              <h4 class="row-subtitle-card m-0">Ver análisis del suelo</h4>
            </div>
            <div class="card-body p-0">
              <div class="cursor-pointer" (click)="open(content, 'xl')">
                <img src="../../assets/img/Irrimax-01.png" class="w-100">
              </div>
              <img src="../../assets/img/grafica.jpg" class="w-100">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div>
          <div class="row">
            <div class="col-md-12">
              <app-polygon-map [zones]="zones" [showCustomControl]="true"></app-polygon-map>
            </div>
            <div class="col-md-12">
              <div class="p-2">              
                <table class="table6">
                  <tr>
                    <td *ngIf="statusRegando" class="light lightblue"> <td>
                    <td *ngIf="statusRegando"> Regando </td>
                    <td class="light lightgreen"> <td>
                    <td> Ok </td>
                    <td *ngIf="status" class="light lighttree"> <td>
                    <td *ngIf="status"> Estresado </td>
                    <td *ngIf="status" class="light lightred"> <td>
                    <td *ngIf="status"> Seco </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-md-12">
              <div class="line">
                <div class="buttons-time row">
                  <div >
                    <button class="volver" (click)="goBack()" [disabled]="dateRangeHistory.length==1">Volver</button>
                  </div>
                  <div *ngFor="let data of times">
                    <button [ngClass]="{'times-active': data.value === selectedValue}" (click)="selectTime(data)"  class="times">{{data.value}}</button>
                  </div>
                </div>
              </div>
              <div class="container-fluid top">
                <div #lineChart></div>
              </div>
              <div class="container-fluid top">
                <div #barChart></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
