<div class="login-background" fxLayoutAlign="center center">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
<form [formGroup]="myForm"  (submit)= LoginUser($event)  fxLayout="column" fxFlex.xs="80%" fxFlex.sm="60%" fxFlex.sm="60%" fxFlex.lg="30%">
	<mat-card class="login">
		<mat-card-header fxLayoutAlign="center center">
			<mat-card-title fxLayout="column" fxLayoutAlign="center center">
				<img src="./assets/img/CERES.png" alt="logo">
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="act-container">
				<div fxLayout="row"  fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="5px">

					<mat-icon>person</mat-icon>
				
					<mat-form-field  fxFlex="80%" >
						<input matInput type="email" placeholder="email" formControlName="email" >
					</mat-form-field>  
				</div>
				<div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="5px">

					<img src="assets/icons/Pass.png" style="width: 17px;height: 20px;margin-right:6px">
				
					<mat-form-field  fxFlex="80%" >
						<input matInput type="password" placeholder="Password" formControlName="password" >
					</mat-form-field>  
				</div>
				<div>
						<!-- <h6 class="resetpassword">¿Olvidaste la contraseña?</h6> -->
				</div>
			</div> 
			
			<button class="btn btn-login">Acceder</button>
		</mat-card-content>
	</mat-card>
</form>

	
</div>
