<div class="login-background" fxLayoutAlign="center center">
<form [formGroup]="myForm"  (submit)= LoginUser($event)  fxLayout="column" fxFlex.xs="80%" fxFlex.sm="60%" fxFlex.sm="60%" fxFlex.lg="30%">
	<mat-card>
		<mat-card-header fxLayoutAlign="center center">
			<mat-card-title fxLayout="column" fxLayoutAlign="center center">
				<img src="./assets/img/logocedetec.png" alt="logo">
				<h1 color="primary">Acceder</h1>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div class="act-container">
				<div fxLayout="row"  fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="5px">

					<mat-icon fxFlex="8%" fxFlex.xs="5%">person</mat-icon>
				
					<mat-form-field fxFlex="80%" >
						<input matInput placeholder="Usuario" formControlName="user" id='usuario'>
					</mat-form-field>  
				</div>
				<div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap fxLayoutGap="5px">

					<mat-icon fxFlex="8%" fxFlex.xs="5%" >lock</mat-icon>
				
					<mat-form-field fxFlex="80%" >
						<input matInput type="password" placeholder="Password" formControlName="password" id='password'>
					</mat-form-field>  
				</div>
			</div> 
			<div fxLayoutAlign="center center">
				<button mat-button mat-raised-button color="primary" type="submit" value="submit">ENTRAR</button>			
			</div>
		</mat-card-content>
	</mat-card>
</form>

	
</div>
