<div class="main-content configuracion">
  <div class="container-fluid">
    <div class="row">
      <h4 class="row-title">Configuración</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title row-sub">Generar Api Key</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form class="central">
              <div class="row">
                <div class="col-md-12 justify-text-general">
                  <mat-label class="col-md-4">Campo</mat-label>
                  <mat-form-field class="col-md-8 mat-select-custom" floatLabel="never">
                    <mat-label>Seleccionar</mat-label>
                    <mat-select>
                      <mat-option>Campo 1</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-12 justify-text-password">
                    <mat-label class="col-md-4">Api Key</mat-label>
                    <mat-form-field class="col-md-8 mat-input-custom">
                      <input matInput="">
                    </mat-form-field>
                  </div>
              </div>
              <button mat-raised-button type="submit" class=" btn-green">Generar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title row-sub">Cuenta IrrimaxLife</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form class="central">
              <div class="row">
                <div class="col-md-12 justify-text-password">
                  <mat-label class="col-md-5">Nombre</mat-label>
                  <mat-form-field class="col-md-7 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
                <div class="col-md-12 justify-text-password">
                  <mat-label class="col-md-5">Contraseña</mat-label>
                  <mat-form-field class="col-md-7 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class=" btn-green">Acceder</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>