<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe [src]="url | safePipe" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div #modalMap style="width:100%;height:100%"></div>
  </div>
</ng-template>
<div class="main-content">
  <!-- <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color: darkseagreen; width: 220px;">
                <div class="card-header card-header-danger" style="align-self: center;">
                  <h3 class="card-title">Desconectado</h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color: darkseagreen; width: 170px;">
                <div class="card-header card-header-info" style="align-self: center;">
                    <h3 class="card-title">Regando</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                  </div>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats" style="background-color: darkseagreen; width: 200px;">
                <div class="card-header card-header-success" style=" align-self: center;">
                  <h3 class="card-title" style=" align-self: center;">Estatus: Ok</h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                  </div>
              </div>
            </div>
        </div>
    </div> -->
     <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6">
    <table class="table table-hover">
      <thead class="">
        <th>

        </th>
        <th style="background-color: #419FD5;">
          <img src="https://www.dropcontrol.com/img/widgets/ico_humedad.gif">
          <span style="color: white; margin-left: 10px;">Regando</span>  
        </th>
        <th style="background-color: #49AA4F;">
          <!-- <img src="https://www.dropcontrol.com/img/widgets/ico_humedad.gif"> -->
          <span style="color: white; margin-left: 10px;">Status OK</span>  
        </th>
        <th style="background-color: rgb(233, 58, 189);">
          <!-- <img src="https://www.dropcontrol.com/img/widgets/ico_humedad.gif"> -->
          <span style="color: white; margin-left: 10px;">Estresado</span>  
        </th>
        <th style="background-color: red;">
          <!-- <img src="https://www.dropcontrol.com/img/widgets/ico_humedad.gif"> -->
          <span style="color: white; margin-left: 10px;">Stoppet</span>  
        </th>
      </thead>
      </table>
      </div>
     </div>
  <div class="container-fluid">
    <div class="row">
      
    </div>


    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div #mapRef style="width:100%;height:100%"></div>      
      <!-- <iframe [src]="url | safePipe" frameborder="0" allowFullScreen="true"></iframe>       -->
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-plain">
        <div class="card-body">
          <div class="table-responsive"  style="background-color: powderblue;">
            <table class="table table-hover">
              <thead class="">
                <tr>
                  <th colspan="3" style="background: linear-gradient(90deg, rgba(25,129,217,1) 48%, rgba(118,192,255,1) 100%); text-align: center; color: white; font-weight: bold;">FORECAST</th>
                </tr>
                <th>
                  Date
                </th>
                <th>
                  Min
                </th>
                <th>
                  Max
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let data of clima">
                  <td>
                    {{data.date| date : "EEE d"}}
                  </td>
                  <td>
                    {{data.mintempC}}°C
                  </td>
                  <td>
                    {{data.maxtempC}}°C
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
            <div class="card-header card-header-success" style="margin-top: 20px;">
              <h4 class="card-title mt-0">Medidas</h4>
              <p class="card-category"> Estacion Metereológica</p>
            </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">

                <th>
                  Nombre
                </th>
                <th>
                  Medida
                </th>

              </thead>
              <tbody>
                <tr *ngFor="let data of mediciones">
     
                  <td>
                    {{data.name}}
                  </td>
                  <td>
                    {{data.lastData}} {{data.unit}}
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button type="button" class="btn btn-success" (click)="open(content)">Ver en Irrimaxlife</button>
      </div>
    </div>
  </div>
</div>
</div>