<div class="main-content user-from">
  <div class="container-fluid">
  	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
    <div class="row">
      <h4 class="row-title">Registro de usuario</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
        <form #userForm="ngForm">
	        <div class="card-header">
	          <span> <img src="assets/icons/Info-General.svg" class="icon-title"></span>
	          <h4 class="card-title row-sub">Información General</h4>
	        </div>
          	<hr class="separated">
          	<div class="card-body">
	            <div class="row">
	                <div class="col-md-6 justify-text-general">
	                  <mat-label class="col-md-3">Nombre</mat-label>
	                  <mat-form-field class="col-md-9 mat-input-custom">
	                    <input [(ngModel)]="user.name" name="name" matInput>
	                  </mat-form-field>
	                </div>
	                <div class="col-md-6 justify-text-general">
	                  <mat-label class="col-md-3">Apellido</mat-label>
	                  <mat-form-field class="col-md-9 mat-input-custom">
	                    <input [(ngModel)]="user.last_name" name="last_name" matInput>
	                  </mat-form-field>
	                </div>
	                <div class="col-md-6 justify-text-general">
	                  <mat-label class="col-md-3">Empresa</mat-label>
	                  <mat-form-field class="col-md-9 mat-input-custom">
	                    <input [(ngModel)]="user.business" name="business" matInput>
	                  </mat-form-field>
	                </div>
	                <div class="col-md-6 justify-text-general">
	                  <mat-label class="col-md-3">Oficina</mat-label>
	                  <mat-form-field class="col-md-9 mat-input-custom">
	                    <input [(ngModel)]="user.office" name="office" matInput>
	                  </mat-form-field>
	                </div>
	            </div>
          	</div>
          	<div class="card-header">
            	<span> <img src="assets/icons/Contrasena.svg" class="icon-title"></span>
            	<h4 class="card-title row-sub">Cambiar Contraseña</h4>
          	</div>
          	<hr class="separated">
	        <div class="card-body">
	            <div class="row">
	                <div class="col-md-6 justify-text-password">
	                  <mat-label class="col-md-4">Nueva Contraseña</mat-label>
	                  <mat-form-field class="col-md-8 mat-input-custom">
	                    <input [(ngModel)]="user.password" name="password" matInput type="password" >
	                  </mat-form-field>
	                </div>
	                <div class="col-md-6 justify-text-password">
	                  <mat-label class="col-md-5">Confirmar Contraseña</mat-label>
	                  <mat-form-field class="col-md-7 mat-input-custom">
	                    <input [(ngModel)]="user.password_confirmation" name="password_confirmation" matInput type="password" >
	                  </mat-form-field>
	                </div>
	            </div>
	        </div>
	        <div class="card-header">
	            <span> <img src="assets/icons/Contacto.svg" class="icon-title"></span>
	            <h4 class="card-title row-sub">Información de Contacto</h4>
	        </div>
          	<hr class="separated">
          	<div class="card-body">
              	<div class="row">
	                <div class="col-md-6 justify-text-password">
	                  <mat-label class="col-md-4">Email</mat-label>
	                  <mat-form-field class="col-md-8 mat-input-custom">
	                    <input [(ngModel)]="user.email" name="email" matInput type="email">
	                  </mat-form-field>
	                </div>
	                <div class="col-md-6 justify-text-password">
	                  <mat-label class="col-md-4">Región</mat-label>
	                  <mat-form-field class="col-md-8 mat-input-custom">
	                    <input [(ngModel)]="user.region" name="region" matInput>
	                  </mat-form-field>
	                </div>
	                <div class="col-md-6 justify-text-password">
	                  <mat-label class="col-md-4">Teléfono</mat-label>
	                  <mat-form-field class="col-md-8 mat-input-custom">
	                    <input [(ngModel)]="user.phone" name="phone" matInput>
	                  </mat-form-field>
	                </div>
	                <div class="col-md-6 justify-text-password">
	                  <mat-label class="col-md-4">Ciudad</mat-label>
	                  <mat-form-field class="col-md-8 mat-input-custom">
	                    <input [(ngModel)]="user.city" name="city" matInput>
	                  </mat-form-field>
	                </div>
              	</div>
          	</div>
	        <div class="card-header">
	            <span> <img src="assets/icons/Notifications.svg" class="icon-title"></span>
	            <h4 class="card-title row-sub">Rol y campos asignados</h4>
	        </div>
          	<hr class="separated">
	        <div class="card-body">
	            <div class="row">
	                <div class="col-md-4"> 
						<div class="form-group">
							<label style="font-weight: bold">Rol</label>
							<div class="input-group">
							<ngx-select-dropdown
								[(ngModel)]="selectedRoles"
								[ngModelOptions]="{standalone: true}"
								(change)="selectionChanged($event,'role')"
								[config]="roleConfig"
								[options]="roles"
								ngDefaultControl
								class="w-100 h-100"
								></ngx-select-dropdown>
							</div>
						</div>
					</div> 
					<div class="col-md-4"> 
						<div class="form-group">
							<label style="font-weight: bold">Cuentas</label>
							<div class="input-group">
							<ngx-select-dropdown
								[(ngModel)]="selectedAccounts"
								[ngModelOptions]="{standalone: true}"
								[multiple]="true"
								(change)="selectionChanged($event,'account')"
								[config]="accountsConfig"
								[options]="accounts"
								ngDefaultControl
								class="w-100 h-100"
								></ngx-select-dropdown>
							</div>
						</div>
					</div>
					<div class="col-md-4"> 
						<div class="form-group">
							<label style="font-weight: bold">Campos</label>
							<div class="input-group">
							<ngx-select-dropdown
								[(ngModel)]="selectedFarms"
								[ngModelOptions]="{standalone: true}"
								[multiple]="true"
								(change)="selectionChanged($event,'farm')"
								[config]="farmsConfig"
								[options]="farms"
								ngDefaultControl
								class="w-100 h-100"
								></ngx-select-dropdown>
							</div>
						</div>
					</div> 
	            </div>
	            <div class="clearfix"></div>
	        </div>
	        <div class="card-header" *ngIf="user.id && myUserData.id!=user.id">
              <span> <img src="assets/icons/Notifications.svg" class="icon-title"></span>
              <h4 class="card-title row-sub">Estado del usuario</h4>
            </div>
            <hr class="separated" *ngIf="user.id && myUserData.id!=user.id">
            <div class="card-body" *ngIf="user.id && myUserData.id!=user.id">
                <div class="row">
                  <div class="col-md-12">
                    <mat-label class="col-md-5">Activo</mat-label>
                    <mat-slide-toggle [checked]="user.active==1?true:false" (change)="changeToggle($event,'status')" class="icons-notifications" color="primary"></mat-slide-toggle>
                  </div>
                </div>
            <div class="clearfix"></div>
            </div>

	        <div class="card-footer">
	            <button mat-raised-button type="submit" class="btn-green ml-auto" (click)="save()">{{textBtn}}</button>

	        </div>
	    </form>
        </div>
      </div>
    </div>
  </div>
</div>