<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="row-title">Informe de Instalación</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12 justify-text-general">
                  <mat-label class="col-md-4">Cantidad de Sitios de Instalación</mat-label>
                  <mat-form-field class="col-md-5 mat-select-custom" floatLabel="never">
                    <mat-label>Seleccionar</mat-label>
                    <mat-select>
                      <mat-option>Instalacion 1</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="card-header">
            <h4 class="card-title">Datos Generales</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-5">Fecha de instalación</mat-label>
                  <mat-form-field class="col-md-7 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-5">Contacto</mat-label>
                  <mat-form-field class="col-md-7 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-general">
                  <mat-label class="col-md-5">Teléfono</mat-label>
                  <mat-form-field class="col-md-7 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-general">
                  <mat-label class="col-md-5">Email</mat-label>
                  <mat-form-field class="col-md-7 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="card-header">
            <h4 class="card-title">Datos de Instalación de Sitio 1</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form>
              <div class="row">
                <table>
                  <tr>
                    <th>Sensores</th>
                    <th>Humedad del suelo</th>
                    <th>T y Humedad Relativa</th>
                    <th>Humedad a la mano</th>
                    <th>Textura</th>
                  </tr>
                  <tr>
                    <td>20cm</td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput> 
                        </mat-form-field>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>40cm</td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>60cm</td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>80cm</td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <mat-slide-toggle color="primary"></mat-slide-toggle>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </td>
                    <td>
                      <div class="col-md-12 justify-text-general">
                        <mat-form-field class=" mat-input-custom">
                          <input matInput>
                        </mat-form-field>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <hr>
              <div class="row">
                  <div class="col-md-10 justify-text-password">
                    <mat-label class="col-md-4">Sistema de Riego</mat-label>
                    <mat-form-field class="col-md-6 mat-input-custom">
                      <input matInput="">
                    </mat-form-field>
                  </div>
                  <div class="col-md-10 justify-text-password">
                    <mat-label class="col-md-4">Caudal del Emisor</mat-label>
                    <mat-form-field class="col-md-6 mat-input-custom">
                      <input matInput="">
                    </mat-form-field>
                  </div>
                  <div class="col-md-10 justify-text-password">
                    <mat-label class="col-md-4">Distancia entre los emisores</mat-label>
                    <mat-form-field class="col-md-6 mat-input-custom">
                      <input matInput="">
                    </mat-form-field>
                  </div>
                </div>
            </form>
          </div>
          <div class="card-header">
            <h4 class="card-title">Aspectos de la zona de instalación</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-10 justify-text-password">
                  <mat-label class="col-md-4">Planta</mat-label>
                  <mat-form-field class="col-md-6 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
                <div class="col-md-10 justify-text-password">
                  <mat-label class="col-md-4">Cantidad de Raices</mat-label>
                  <mat-form-field class="col-md-6 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
                <div class="col-md-10 justify-text-password">
                  <mat-label class="col-md-4">Distancia de la planta con el gotero</mat-label>
                  <mat-form-field class="col-md-6 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
                <div class="col-md-10 justify-text-password">
                  <mat-label class="col-md-4">Tipo de Instalación</mat-label>
                  <mat-form-field class="col-md-6 mat-input-custom">
                    <input matInput="">
                  </mat-form-field>
                </div>
              </div>
              <button mat-raised-button type="submit" class=" btn-green pull-right">Guardar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>