<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <iframe [src]="url | safePipe" frameborder="0" allowFullScreen="true"></iframe>
  </div>
</ng-template>
<ng-template #content2 let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div #modalMap style="width:100%;height:100%"></div>
  </div>
</ng-template>
<ng-template #message let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Mensaje</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
      <div class="modal-body">
          <textarea placeholder="Ingrese un mensaje" cols="30" rows="10"></textarea>
          <button style="font-size: 15px;" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> Enviar </button>
        </div>
</ng-template>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <h4 class="row-title">Monitoreo del Clima</h4>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <span *ngIf="farm" class="title-farm">{{farm.name}}</span>
          <label *ngIf="user && !farm" for="" class="col-sm-2 col-form-label" >Campo</label>
          <div *ngIf="user && !farm" class="col-sm-10">
            <label  for="" class="col-form-label">Campo Seleccionado</label>
          </div>
        </div>
      </div> 
      <div class="col-md-6">
        <div>
          <span class="date-title">{{today | date:'MMMM dd/MM/yyyy'}} </span>
        </div>
      </div>   
    </div>
  </div>
  <div class="container-fluid">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  </div>
  <div class="container-fluid barra">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        
        <!-- Cuadro de Clima -->
        <div *ngIf="measurements.length>0" class="container-fluid">
          <div class="card card-bg-none">
            <div class="card-header py-0">
              <h4 class="row-subtitle-card">Clima</h4>
            </div>
            <div class="card-body card-weather">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let data of measurements">
                      <td class="name-weather">
                        {{translateMeasurement(data.name)}}
                      </td>
                      <td class="icon-weather">
                        <img *ngIf="translateMeasurement(data.name) =='Station Temperature' || translateMeasurement(data.name)=='Temperatura'"
                                  src="assets/icons/Temperatura.svg">
                        <img *ngIf="translateMeasurement(data.name) =='Rafaga de viento' || translateMeasurement(data.name)=='Dir. Viento'"
                                  src="assets/icons/Direccion-del-Viento.svg">
                        <img *ngIf="translateMeasurement(data.name) =='Wind Direction' || translateMeasurement(data.name)=='Vel. Viento'" src="assets/icons/Viento.svg">
                        <img *ngIf="translateMeasurement(data.name) =='Wind Speed (period)'"
                                  src="https://www.dropcontrol.com/img/widgets/ico_velocidad.gif">
                        <img *ngIf="translateMeasurement(data.name) =='Station Relative Humidity' || translateMeasurement(data.name)=='Humedad'"
                                  src="assets/icons/Gota.svg">
                        <img *ngIf="translateMeasurement(data.name) =='Solar radiation ' || translateMeasurement(data.name)=='Rad. Solar'" src="assets/icons/Sol.svg">
                        <img *ngIf="translateMeasurement(data.name) =='Horas Frío'"
                                  src=" https://www.dropcontrol.com/img/widgets/ico_pluviometria.gif?uv=1">
                        <img *ngIf="translateMeasurement(data.name) =='Porciones de Frío'"
                                  src=" https://www.dropcontrol.com/img/widgets/ico_pluviometria.gif?uv=1">
                        <img *ngIf="translateMeasurement(data.name) =='Pluviometro'" src="assets/icons/Lluvia.svg">
                      </td>
                      <td style="display:inline-flex;">
                        {{decimalProcessor(data.lastData)}} {{data.unit}} &nbsp;  
                        <div *ngIf="translateMeasurement(data.name) =='Rafaga de viento' || translateMeasurement(data.name)=='Dir. Viento'"> {{getCardinalPointOfTheValue(data.lastData)}}</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="measurements.length>0" class="card-footer text-muted text-center">
              Última actualización {{getLastMeasureDataUpdate(measurements[0].lastDataDate)}}
            </div>
          </div>
        </div>
        <!-- Fin de Cuadro de Clima -->
                <div *ngIf="climaLoading" class="container-fluid">
          <div class="card card-bg-none">
            <div class="card-header py-0">
              <h4 class="row-subtitle-card">Pronóstico</h4>
            </div>
            <div class="card-body card-pronostic">
              <table class="table-title">
                <thead>
                  <th> <img src="{{climaToday.weatherIconUrl[0].value}} "> </th>
                  <th> {{climaToday.temp_C}}°C </th>
                  <th>
                    <span>
                      {{today | date:'dd/MM/yyyy'}}
                    </span>
                    <div>
                      {{farm.name}}
                    </div>
                  </th>
                </thead>
              </table>
              <table class="table-body">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td> </td>
                    <td *ngFor="let day of climaDay"> {{translateDate(day | date:'EE ')}} </td>
                  </tr>
                  <tr>
                    <td> </td>
                    <td *ngFor="let icon of climaIcon"><img style="width: 22px; height:22px" src="{{icon}}"></td>
                  </tr>
                  <tr>
                    <td>Máx: </td>
                    <td *ngFor="let max of climaMax">{{max}}°C </td>
                  </tr>
                  <tr>
                    <td>Min: </td>
                    <td *ngFor="let min of climaMin">{{min}}°C</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
        <!--<div *ngIf="climaLoading" class="container-fluid">
          <div class="card card-bg-none">
            <div class="card-header py-0">
              <h4 class="row-subtitle-card m-0">Ver análisis del suelo</h4>
            </div>
            <div class="card-body p-0">
              <div class="cursor-pointer" (click)="open(content, 'xl')">
                <img src="../../assets/img/Irrimax-01.png" class="w-100">
              </div>
              <img src="../../assets/img/grafica.jpg" class="w-100">
            </div>
          </div>
        </div>-->
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="select-time">
                <h4>Selector de tiempo</h4>
                <form class="form-inline form-date-range line">
                  <div class="w-20">                 
                  <div class="form-group ">
                    <h6>*Fecha de Inicio</h6>
                    <div class="input-group">
                      <input #dpFromDate
                      class="input-calendar" 
                      name="dpFromDate"
                      [value]="formatter.format(fromDate)"
                      (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                      <div class="input-group-append">
                        <button class="icon-calendar" (click)="datepickerFrom.toggle()" type="button">
                          <img src="assets/icons/Calendar.svg" style="height: 25px">
                        </button>
                      </div>
                    </div>
                  </div>                 
                  </div>
                  <div class="w-20">                  
                    <div class="form-group">
                      <h6>*Fecha Final</h6> 
                      <div class="input-group">
                        <input #dpToDate
                        class="input-calendar"  
                        name="dpToDate"
                        [value]="formatter.format(toDate)"
                        (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                          <button class="icon-calendar"  (click)="datepickerTo.toggle()" type="button">
                            <img src="assets/icons/Calendar.svg" style="height: 25px">
                          </button>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <div class="w-10">
                    <div class="form-inline">
                      <button class="btn-greem" [disabled]="requestChartBtn" (click)="changeDateRange()">Ver</button>
                    </div>
                  </div>
                  <div class="w-50">
                    <div class="form-group hidden">
                    <div class="input-group">
                      <input name="datepickerFrom"
                      style="
                      background-color: transparent;
                      border: none;
                      visibility: hidden;"
                      ngbDatepicker
                      #datepickerFrom="ngbDatepicker"
                      [autoClose]="'outside'"
                      (dateSelect)="onDateSelection($event,'from')"
                      [displayMonths]="1"
                      [dayTemplate]="t"
                      outsideDays="hidden"
                      [startDate]="fromDate">
                      <ng-template #t let-date let-focused="focused">
                          <span class="custom-day"
                          [class.focused]="focused"
                          [class.range]="isRange(date)"
                          [class.faded]="isHovered(date) || isInside(date)"
                          (mouseenter)="hoveredDate = date"
                          (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </div>
                  </div>
                  </div>
                  <div class="w-50">
                    <div class="form-group hidden">
                      <div class="input-group">
                        <input name="datepickerTo"
                        style="
                        background-color: transparent;
                        border: none;
                        visibility: hidden;"
                        ngbDatepicker
                        #datepickerTo="ngbDatepicker"
                        [autoClose]="'outside'"
                        (dateSelect)="onDateSelection($event,'to')"
                        [displayMonths]="1"
                        [dayTemplate]="t"
                        outsideDays="hidden"
                        [startDate]="fromDate">
                        <ng-template #t let-date let-focused="focused">
                            <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                            {{ date.day }}
                          </span>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-12">
              <div class="line">
                <div class="buttons-time row">
                  <!--<div>
                    <button class="volver" (click)="goBack()" [disabled]="dateRangeHistory.length==1">Volver</button>
                  </div>-->
                  <div *ngFor="let data of times">
                    <button [ngClass]="{'times-active': data.value === selectedValue}" (click)="selectTime(data)"  class="times">{{data.value}}</button>
                  </div>
                </div>
              </div>
              <div class="container-fluid top">
                <app-chart 
                  [weatherStation]="weatherStation" 
                  [type]="'spline'" 
                  [title]="'TEMPERATURA/HUMEDAD'" 
                  [firstSensorType]="'Temperature'"
                  [secondSensorType]="'Humidity'"
                  [fromDate]="fromDate" 
                  [toDate]="toDate">
                </app-chart>
              </div>
              <div class="container-fluid top">
                <app-chart 
                  [weatherStation]="weatherStation" 
                  [type]="'column'" 
                  [title]="'PRECIPITACIÓN/ET0'" 
                  [firstSensorType]="'Rain'"
                  [secondSensorType]="'Et0'"
                  [fromDate]="fromDate" 
                  [toDate]="toDate">
                </app-chart>
              </div>
              <div class="container-fluid top">
                <app-chart 
                  [weatherStation]="weatherStation" 
                  [type]="'line'" 
                  [title]="'RADIACIÓN/VIENTO'" 
                  [firstSensorType]="'Solar Radiation'"
                  [secondSensorType]="'Wind Direction'"
                  [fromDate]="fromDate" 
                  [toDate]="toDate">
                </app-chart>
              </div>
              <div class="container-fluid top">
                <app-chart 
                  [weatherStation]="weatherStation" 
                  [type]="'column'" 
                  [title]="'PORCIONES FRIOS/PORCIONES FRIOS'" 
                  [firstSensorType]="'Chill portion'"
                  [secondSensorType]="'Chill portion'"
                  [fromDate]="fromDate" 
                  [toDate]="toDate">
                </app-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
