/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'metropolis';
    src: url('assets/font/Metropolis-Regular.otf');
  }
  
  body {
    font-family: 'metropolis', sans-serif !important;
  }