<div class="main-content user-profile">
  <div class="container-fluid">
    <div class="row">
      <h4 class="row-title">Perfil</h4>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <span> <img src="assets/icons/Info-General.svg" style="width: 18px; height: 18px;margin-right: 5px;"></span>
            <h4 class="card-title">Información General</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 justify-text-general">
                  <mat-label class="col-md-3">Nombre</mat-label>
                  <mat-form-field class="col-md-9 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-general">
                  <mat-label class="col-md-3">Apellido</mat-label>
                  <mat-form-field class="col-md-9 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-general">
                  <mat-label class="col-md-3">Empresa</mat-label>
                  <mat-form-field class="col-md-9 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-general">
                  <mat-label class="col-md-3">Oficina</mat-label>
                  <mat-form-field class="col-md-9 mat-select-custom" floatLabel="never">
                    <mat-label>Seleccionar</mat-label>
                    <mat-select>
                      <mat-option>Oficina 1</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="card-header">
            <span> <img src="assets/icons/Contrasena.svg" style="width: 18px; height: 18px;margin-right: 5px;"></span>
            <h4 class="card-title">Cambiar Contraseña</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-4">Nueva Contraseña</mat-label>
                  <mat-form-field class="col-md-8 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-5">Confirmar Contraseña</mat-label>
                  <mat-form-field class="col-md-7 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="card-header">
            <span> <img src="assets/icons/Contacto.svg" style="width: 18px; height: 18px;margin-right: 5px;"></span>
            <h4 class="card-title">Información de Contacto</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-4">Email</mat-label>
                  <mat-form-field class="col-md-8 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-4">Región</mat-label>
                  <mat-form-field class="col-md-8 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-4">Teléfono</mat-label>
                  <mat-form-field class="col-md-8 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-6 justify-text-password">
                  <mat-label class="col-md-4">Ciudad</mat-label>
                  <mat-form-field class="col-md-8 mat-input-custom">
                    <input matInput>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="card-header">
            <span> <img src="assets/icons/Notifications.svg" style="width: 18px; height: 18px;margin-right: 5px;"></span>
            <h4 class="card-title">Enviar Notificaciones</h4>
          </div>
          <hr class="separated">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                    <mat-label class="col-md-5">Nuevo mensaje</mat-label>
                    <mat-slide-toggle color="primary"></mat-slide-toggle>
                </div>
                <div class="col-md-12">
                    <mat-label class="col-md-5">Nueva alerta</mat-label>
                    <mat-slide-toggle color="primary"></mat-slide-toggle>
                </div>
                <div class="col-md-12">
                    <mat-label class="col-md-5">Nueva zona creada</mat-label>
                    <mat-slide-toggle color="primary"></mat-slide-toggle>
                </div>
              </div>
              <button mat-raised-button type="submit" class=" btn-green pull-right">Actualizar</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>